// Mixins in here

.button(@bgcolor, @color, @bordercolor) {
  background-color: @bgcolor;
  color: @color;
  border: 1px solid @bordercolor;
  font-size: 1.8rem;
  text-align: center;
  padding: 13px 0;
  max-width: 200px;
  border-radius: 15px;
}
