// Navigation Styles here

.navigation-bar {
  border-bottom: 2px dashed @navigation-border;
  padding: 2.5rem 0;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: @shark;
    font-size: 1.6rem;
    margin-right: 3rem;
  }
}
